# Temporary office / excel lock files
~$*.xlsx
~$*.xls

# Python virtual environment & cache
.venv/
__pycache__/
*.pyc

# Local system files
Thumbs.db
.DS_Store

# Root open file during migration
/VL_IRENE WISDOM.xlsx
